body {
  background-color: white;
  font-family: 'Segoe UI', sans-serif;
}

.todo-box {
  background: yellow;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 1px solid #eee;
}

.list-group-item input[type="checkbox"] {
  margin-right: 10px;
}

.task-text {
  flex-grow: 1;
  margin-left: 10px;
}

.delete-btn {
  color: gray;
  cursor: pointer;
}

.delete-btn:hover {
  color: rgb(155, 156, 84);
}
